<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Pro</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/cc03047fef.js" crossorigin="anonymous"></script>
</head>
<body class="container">
    <!-- start nav -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">    
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LapTopPro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="product.html">Sản phẩm</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thương hiệu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Thông tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                    </li>
                        
                </ul>
                    <div class="d-flex">
                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        <i class="fa-solid fa-bag-shopping fa-xl mx-3 position-relative"><div class="position-absolute top-100 start-100 translate-middle"><span class="position-relative badge border border-light rounded-circle bg-warning p-2"><small class="position-absolute top-50 start-50 translate-middle" style="font-size: 10px;">0</small></span></div></i>
                        <i class="fa-solid fa-circle-user fa-xl"></i>
                    </div>
                </div>
            </div>
        </nav>
</div>
    <div class="col-md-1"></div>
</div>
    <!-- end nav -->
    <!-- start content -->
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <aside class="col-xl-6">
                    <div class=" d-flex justify-content-center">
                    <a class="rounded-4">
                    <img class="rounded-4 fit w-100" src="../upload/product/sp1.webp" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <a class="border mx-1 rounded-2" class="item-thumb">
                    <img width="100" height="100" class="rounded-2" src="../upload/product/sp1.webp" />
                    </a>
                    <a class="border mx-1 rounded-2" class="item-thumb">
                    <img width="100" height="100" class="rounded-2" src="../upload/product/sp1.webp" />
                    </a>
                    <a class="border mx-1 rounded-2" class="item-thumb">
                    <img width="100" height="100" class="rounded-2" src="../upload/product/sp1.webp" />
                    </a>
                </div>
                </aside>
                <div class="col-xl-6">
                    <h5>Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                    <p class="text-warning fw-bold fs-4">10.000.000 đ</p>
                    <p class="mt-3">Bạn là một game thủ chuyên nghiệp, luôn muốn có những trải nghiệm chơi game tốt nhất? 
                        Bạn cũng là một người có nhiều công việc và học tập, cần một chiếc laptop đa năng và hiệu quả?
                        Bạn cũng là một người có nhiều công việc và học tập, cần một chiếc laptop đa năng và hiệu quả?
                        Bạn cũng là một người có nhiều công việc và học tập, cần một chiếc laptop đa năng và hiệu quả?
                        Bạn cũng là một người có nhiều công việc và học tập, cần một chiếc laptop đa năng và hiệu quả?</p>
                    <hr>
                    <strong class="me-4">Màu:</strong>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input bg-dark"  type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input bg-warning" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2"></label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <div class="input-group quantity" style="width: 120px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-md btn-warning btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm  border  text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-md btn-warning btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3" ><button type="button" class="btn btn-warning">Thêm giỏ hàng</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3>Mô tả chi tiết</h3>
            <hr>
            <p>Bạn là một game thủ chuyên nghiệp, luôn muốn có những trải nghiệm chơi game tốt nhất? Bạn cũng là một người có 
                nhiều công việc và học tập, cần một chiếc laptop đa năng và hiệu quả? Bạn còn là một người yêu thích sự đẹp đẽ 
                và thời trang, muốn có một chiếc laptop có thiết kế ấn tượng và tiện lợi? Nếu bạn có tất cả những yêu cầu trên, 
                thì bạn không thể bỏ qua Laptop Gaming ACER NITRO 16 PHOENIX - chiếc laptop gaming quốc dân của ACER, được Phong 
                Vũ giới thiệu với giá cả hợp lý. Laptop Gaming ACER NITRO 16 PHOENIX sẽ làm hài lòng bạn với những tính năng dưới 
                đây, cùng Phong Vũ tìm hiểu ở bài viết dưới đây nhé!.More
                
                </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1 class="mb-4">Sản phẩm tương tự</h1>
            <div class="row">
                <div class="col-sm-3 mb-3">
                    <div class="card" >
                        <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                        <div class="">
                            <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                            <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                            <div class="mb-2 text-end">
                            <i class="fa-solid fa-circle-info fa-2xl"></i>
                            <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                            </div>
                        </div>
                        </div>
                </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3>Đánh giá khách hàng</h3>
            <hr>
            <div class="row my-3 rownded-3">
                <div class="col-sm-3 text-center">
                    <h5 class="fw-bold">Hoàng Nhật Hà</h5>
                    29/9/2023 <br>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                </div>
                <div class="col-sm-9">
                    <h6 class="fw-bold">Laptop đẹp</h6>
                    Tôi cũng không hiểu tại dao tôi lại chọn cuốn sách này để đọc. V cơ bản thì nó chưa có tác dụng
                    gì với
                    tôi cho lắm. Vì .. tôi chưa có gia đình. Đùa thôi. Quyển sách này là một trong những tác phẩm
                    rất hữu
                    ích với bất kỳ ai. Nó khiến cho bạn hiểu rõ thêm về người bạn khác giới, người chồng,... của
                    mình. Những
                    "bí ẩn" khó hiểu của 2 phái sẽ dần được phơi bày và sáng tỏ. Đọc xong tác phẩm, một cách khách
                    quan, tôi
                    đã học được nhiều điều. Sự khoan dung cần thiết, cáu nhìn rộng rãi để có thể tha thứ. Nhiều khi
                    còn học
                    được những "bí quyết định tồn" để không làm hỏng việc hoặc vỗ giận "người ấy". Nói chung, một
                    cuốn sách
                    rất hay để bạn dồn thời gian vào nó, nhìn giá hơi đắt nhưng số với lượng kiến thức được cũng cấp
                    lại vô cùng hợp lý
                </div>
            </div>
            <hr>
            <div class="row my-3 rownded-3">
                <div class="col-sm-3 text-center">
                    <h5 class="fw-bold">Hoàng Nhật Hà</h5>
                    29/9/2023 <br>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #F7C531;"></i>
                </div>
                <div class="col-sm-9">
                    <h6 class="fw-bold">Laptop đẹp</h6>
                    Tôi cũng không hiểu tại dao tôi lại chọn cuốn sách này để đọc. V cơ bản thì nó chưa có tác dụng
                    gì với
                    tôi cho lắm. Vì .. tôi chưa có gia đình. Đùa thôi. Quyển sách này là một trong những tác phẩm
                    rất hữu
                    ích với bất kỳ ai. Nó khiến cho bạn hiểu rõ thêm về người bạn khác giới, người chồng,... của
                    mình. Những
                    "bí ẩn" khó hiểu của 2 phái sẽ dần được phơi bày và sáng tỏ. Đọc xong tác phẩm, một cách khách
                    quan, tôi
                    đã học được nhiều điều. Sự khoan dung cần thiết, cáu nhìn rộng rãi để có thể tha thứ. Nhiều khi
                    còn học
                    được những "bí quyết định tồn" để không làm hỏng việc hoặc vỗ giận "người ấy". Nói chung, một
                    cuốn sách
                    rất hay để bạn dồn thời gian vào nó, nhìn giá hơi đắt nhưng số với lượng kiến thức được cũng cấp
                    lại vô cùng hợp lý
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <!-- end content -->
    <!-- start footer -->
    <footer class="mt-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">       
                <div class="row">
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                    <ul class="">
                        <li class="list-group-item mb-2"><strong>khám phá</strong></li>
                        <li class="list-group-item">Ứng dụng mobile</li>
                        <li class="list-group-item">Bảo mật thông tin</li>
                        <li class="list-group-item">Quy định</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                        <ul class="">
                            <li class="list-group-item mb-2"><strong>Công ty</strong></li>
                            <li class="list-group-item">Giới thiệu</li>
                            <li class="list-group-item">liên hệ</li>
                            <li class="list-group-item">Quy chế</li>
                        </ul>
                        </div>
                </div>
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                        <ul class="">
                            <li class="list-group-item mb-2"><strong>Tham gia trên</strong></li>
                            <li class="list-group-item">Facebook</li>
                            <li class="list-group-item">Instagram</li>
                            <li class="list-group-item">Youtube</li>
                        </ul>
                        </div>
                </div>
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                        <ul class="">
                            <li class="list-group-item mb-2"><strong>Chính sách</strong></li>
                            <li class="list-group-item">Các câu hỏi thường gặp</li>
                            <li class="list-group-item">Điều khoản Điều kiện</li>
                            <li class="list-group-item">Chính sách quyền riêng tư</li>
                        </ul>
                        </div>
                </div></div>
            <div class="col-md-1"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col" style="margin-left: 35px;">Copyright ©2023 H.A.P</div>
                    <div class="col text-end">
                        follow us:
                        <i class="fa-brands fa-facebook fa-xl" style="color: #2668d9;"></i>
                        <i class="fa-brands fa-square-instagram fa-xl" style="color: #981ca6;"></i>
                        <i class="fa-brands fa-youtube fa-xl" style="color: #e52a2a;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        
    </footer>
        <!-- end footer -->
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>