<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Pro</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/cc03047fef.js" crossorigin="anonymous"></script>
</head>
<body class="container">
    <!-- start nav -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">    
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LapTopPro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="product.html">Sản phẩm</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thương hiệu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Thông tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                    </li>
                        
                </ul>
                    <div class="d-flex">
                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        <i class="fa-solid fa-bag-shopping fa-xl mx-3 position-relative"><div class="position-absolute top-100 start-100 translate-middle"><span class="position-relative badge border border-light rounded-circle bg-warning p-2"><small class="position-absolute top-50 start-50 translate-middle" style="font-size: 10px;">0</small></span></div></i>
                        <i class="fa-solid fa-circle-user fa-xl"></i>
                    </div>
                </div>
            </div>
        </nav>
</div>
    <div class="col-md-1"></div>
</div>
    <!-- end nav -->
    <!-- start content -->
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1>Sản phẩm</h1>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3" >
                    <i class="fa-solid fa-sliders fa-lg"></i> <span>fillter</span>
                </div>
                <div class="col-sm-6 text-center" >
                </div>
                <div class="col-sm-3 d-flex flex-row-reverse" >
                <select class="form-select-sm" aria-label="Default select example">
                    <option selected>Mặc định</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <Strong class="mx-2">sắp xếp:</Strong>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3 mb-3">
                    <div class="card" >
                        <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                        <div class="">
                            <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                            <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                            <div class="mb-2 text-end">
                            <i class="fa-solid fa-circle-info fa-2xl"></i>
                            <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                            </div>
                        </div>
                        </div>
                </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3 mb-3">
                    <div class="card" >
                        <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                        <div class="">
                            <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                            <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                            <div class="mb-2 text-end">
                            <i class="fa-solid fa-circle-info fa-2xl"></i>
                            <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                            </div>
                        </div>
                        </div>
                </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div class="card" >
                    <img src="../upload/product/sp1.webp" class="card-img-top" alt="...">
                    <div class="">
                        <h5 class="card-title product-hidden-text">Laptop ACER Nitro 16 Phoenix AN16-41-R5M4 (Ryzen 5 7535HS/RAM 8GB/RTX 4050/512GB SSD/ Windows 11)</h5>
                        <p class="card-text"><p class="text-warning fw-bold">10.000.000 đ</p></p>
                        <div class="mb-2 text-end">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <i class="fa-solid fa-cart-shopping fa-xl mx-2"></i>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                <li class="page-item">
                <a class="page-link text-black" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link text-black active-warning" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link text-black" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <!-- end content -->
    <!-- start footer -->
    <footer class="mt-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">       
                <div class="row">
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                    <ul class="">
                        <li class="list-group-item mb-2"><strong>khám phá</strong></li>
                        <li class="list-group-item">Ứng dụng mobile</li>
                        <li class="list-group-item">Bảo mật thông tin</li>
                        <li class="list-group-item">Quy định</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                        <ul class="">
                            <li class="list-group-item mb-2"><strong>Công ty</strong></li>
                            <li class="list-group-item">Giới thiệu</li>
                            <li class="list-group-item">liên hệ</li>
                            <li class="list-group-item">Quy chế</li>
                        </ul>
                        </div>
                </div>
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                        <ul class="">
                            <li class="list-group-item mb-2"><strong>Tham gia trên</strong></li>
                            <li class="list-group-item">Facebook</li>
                            <li class="list-group-item">Instagram</li>
                            <li class="list-group-item">Youtube</li>
                        </ul>
                        </div>
                </div>
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">
                        <ul class="">
                            <li class="list-group-item mb-2"><strong>Chính sách</strong></li>
                            <li class="list-group-item">Các câu hỏi thường gặp</li>
                            <li class="list-group-item">Điều khoản Điều kiện</li>
                            <li class="list-group-item">Chính sách quyền riêng tư</li>
                        </ul>
                        </div>
                </div></div>
            <div class="col-md-1"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col" style="margin-left: 35px;">Copyright ©2023 H.A.P</div>
                    <div class="col text-end">
                        follow us:
                        <i class="fa-brands fa-facebook fa-xl" style="color: #2668d9;"></i>
                        <i class="fa-brands fa-square-instagram fa-xl" style="color: #981ca6;"></i>
                        <i class="fa-brands fa-youtube fa-xl" style="color: #e52a2a;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        
    </footer>
        <!-- end footer -->
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>